In [1]:
import pandas as pd
import numpy as np

In [ ]:
data2=pd.read_csv(r"C:\Users\shiya\OneDrive\Desktop\convoproject\funny2.csv",encoding='latin-1')
data2

In [11]:
df=pd.DataFrame()
df['title']=data2['title']
df['author']=data2['author']
df['date']=data2['date']
df['timestamp']=data2['timestamp']
df['score']=data2['score']
df['upvotes']=data2['upvotes']
df['downvotes']=data2['downvotes']
df['up_ratio']=data2['up_ratio']
df['total_awards_received']=data2['total_awards_received']
df['golds']=data2['golds']
df['cross_posts']=data2['cross_posts']
df['No.of.comments']=data2['comments']
df

,title,author,date,timestamp,score,upvotes,downvotes,up_ratio,total_awards_received,golds,cross_posts,No.of.comments
0,How much for a rose?,GregorCZ,2021-02-14,1613296892,99292,99292,0,0.90,0,0,27,1136
1,Dad... is that you??,sil130,2017-11-18,1511037367,99286,99286,0,0.87,0,1,3,2047
2,Whelp.,dogsonthe4th,2019-01-23,1548265388,99274,99274,0,0.87,0,2,30,2539
3,"Years ago, my uncle was a wedding videographer...",DoctorVanillaBear,2017-03-26,1490548632,99271,99271,0,0.91,0,0,1,1528
4,Rudolph. [OC],doryphorus99,2021-12-07,1638910370,99259,99259,0,0.94,0,0,20,519
...,...,...,...,...,...,...,...,...,...,...,...,...
983,Dad ends sons basketball career in 17 seconds,Tarhabibi,2018-08-14,1534215795,150830,150830,0,0.94,0,0,73,1988
984,I hate planks,ManagerOfLove,2022-05-17,1652800775,150582,150582,0,0.88,0,1,71,2581
985,Caught my GF taking selfies with my dog. The s...,NBAJam95,2020-06-22,1592849049,150236,150236,0,0.92,0,1,26,1905
986,Oh Canada,ThunderGunExpress-,2020-03-29,1585490180,149575,149575,0,0.95,0,0,45,3317
987,Just lost my foot after a motorcycle accident....,roersmat,2021-07-28,1627480828,149461,149461,0,0.89,0,7,13,4604

In [21]:
text=df['title']
text

0                                   How much for a rose?
1                                   Dad... is that you??
2                                                 Whelp.
3      Years ago, my uncle was a wedding videographer...
4                                          Rudolph. [OC]
                             ...
983       Dad ends sons basketball career in 17 seconds
984                                        I hate planks
985    Caught my GF taking selfies with my dog. The s...
986                                            Oh Canada
987    Just lost my foot after a motorcycle accident....
Name: title, Length: 988, dtype: object

In [22]:
import re

In [23]:
def remove_punctuation_and_keep_alphanumeric(text):
    if isinstance(text, str):
        # Remove all punctuation, except spaces, and convert to lowercase
        cleaned_text = re.sub(r'[^\w\s]', '', text).lower()
        return cleaned_text
    else:
        return str(text)

text=text.apply(remove_punctuation_and_keep_alphanumeric)

In [24]:
import nltk
from nltk.tokenize import word_tokenize, sent_tokenize
import pandas as pd
import numpy as np

def tokenize_text(text):
    # Check if the input is a string or a NaN value, and handle accordingly.
    if isinstance(text, str):
        # Tokenize the text into sentences.
        sentences = sent_tokenize(text)

        # Tokenize each sentence into words and flatten the list of words.
        tokenized_text = [word for sentence in sentences for word in word_tokenize(sentence)]

        return tokenized_text
    else:
        # Return an empty list for non-string values.
        return ['None']

In [25]:
text=text.apply(tokenize_text)

In [26]:
import nltk
from nltk.corpus import stopwords
def remove_stopwords(word_list):
    stopwords = set(nltk.corpus.stopwords.words('english'))
    filtered_word_list = [word for word in word_list if word not in stopwords]
    return filtered_word_list

In [27]:
text=text.apply(remove_stopwords)

In [28]:
from nltk.stem import WordNetLemmatizer
nltk.download('omw-1.4')
nltk.download('wordnet')

wordnet_lemmatizer = WordNetLemmatizer()  
def lemmatize_list(word_list):
    lemmatized_word_list = [wordnet_lemmatizer.lemmatize(word) for word in word_list]
    return lemmatized_word_list

[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\shiya\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\shiya\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [29]:
text=text.apply(lemmatize_list)

In [30]:
text

0                                           [much, rose]
1                                                  [dad]
2                                                [whelp]
3      [year, ago, uncle, wedding, videographer, got,...
4                                          [rudolph, oc]
                             ...
983      [dad, end, son, basketball, career, 17, second]
984                                        [hate, plank]
985    [caught, gf, taking, selfies, dog, shade, thro...
986                                         [oh, canada]
987    [lost, foot, motorcycle, accident, sticker, so...
Name: title, Length: 988, dtype: object

In [31]:
def untokenize(words):
    return ' '.join(words)

In [32]:
text=text.apply(untokenize)
text

0                                              much rose
1                                                    dad
2                                                  whelp
3      year ago uncle wedding videographer got 2nd pl...
4                                             rudolph oc
                             ...
983              dad end son basketball career 17 second
984                                           hate plank
985    caught gf taking selfies dog shade throw end hurt
986                                            oh canada
987    lost foot motorcycle accident sticker son chos...
Name: title, Length: 988, dtype: object

In [33]:
df['cleaned_headlines']=text

In [34]:
import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\shiya\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [35]:
from pprint import pprint
import seaborn as sns

In [36]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer as SIA
sia=SIA()
results=[]
for line in text:
    pol_score=sia.polarity_scores(line)#return dictionary
    pol_score['headline']=line
    results.append(pol_score)

pprint(results[:3],width=100)

[{'compound': 0.0, 'headline': 'much rose', 'neg': 0.0, 'neu': 1.0, 'pos': 0.0},
 {'compound': 0.0, 'headline': 'dad', 'neg': 0.0, 'neu': 1.0, 'pos': 0.0},
 {'compound': 0.0, 'headline': 'whelp', 'neg': 0.0, 'neu': 1.0, 'pos': 0.0}]

In [37]:
dat=pd.DataFrame.from_records(results)

In [38]:
dat

,neg,neu,pos,compound,headline
0,0.000,1.000,0.0,0.0000,much rose
1,0.000,1.000,0.0,0.0000,dad
2,0.000,1.000,0.0,0.0000,whelp
3,0.000,1.000,0.0,0.0000,year ago uncle wedding videographer got 2nd pl...
4,0.000,1.000,0.0,0.0000,rudolph oc
...,...,...,...,...,...
983,0.000,1.000,0.0,0.0000,dad end son basketball career 17 second
984,0.787,0.213,0.0,-0.5719,hate plank
985,0.298,0.702,0.0,-0.5267,caught gf taking selfies dog shade throw end hurt
986,0.000,1.000,0.0,0.0000,oh canada
987,0.435,0.565,0.0,-0.6597,lost foot motorcycle accident sticker son chos...

In [39]:
dat['label']=0
dat.loc[dat['compound']>0.2,'label']=1
dat.loc[dat['compound']<-0.2,'label']=-1
dat

,neg,neu,pos,compound,headline,label
0,0.000,1.000,0.0,0.0000,much rose,0
1,0.000,1.000,0.0,0.0000,dad,0
2,0.000,1.000,0.0,0.0000,whelp,0
3,0.000,1.000,0.0,0.0000,year ago uncle wedding videographer got 2nd pl...,0
4,0.000,1.000,0.0,0.0000,rudolph oc,0
...,...,...,...,...,...,...
983,0.000,1.000,0.0,0.0000,dad end son basketball career 17 second,0
984,0.787,0.213,0.0,-0.5719,hate plank,-1
985,0.298,0.702,0.0,-0.5267,caught gf taking selfies dog shade throw end hurt,-1
986,0.000,1.000,0.0,0.0000,oh canada,0
987,0.435,0.565,0.0,-0.6597,lost foot motorcycle accident sticker son chos...,-1

In [40]:
df['Negative_Sentiment']=dat['neg']
df['Positive_Sentiment']=dat['pos']
df['Neutral_Sentiment']=dat['neu']
df['compound']=dat['compound']
df['Label']=dat['label']

In [45]:
df

,title,author,date,timestamp,score,upvotes,downvotes,up_ratio,total_awards_received,golds,cross_posts,No.of.comments,cleaned_headlines,Negative_Sentiment,Positive_Sentiment,Neutral_Sentiment,compound,Label
0,How much for a rose?,GregorCZ,2021,1613296892,99292,99292,0,0.90,0,0,27,1136,much rose,0.000,0.0,1.000,0.0000,0
1,Dad... is that you??,sil130,2017,1511037367,99286,99286,0,0.87,0,1,3,2047,dad,0.000,0.0,1.000,0.0000,0
2,Whelp.,dogsonthe4th,2019,1548265388,99274,99274,0,0.87,0,2,30,2539,whelp,0.000,0.0,1.000,0.0000,0
3,"Years ago, my uncle was a wedding videographer...",DoctorVanillaBear,2017,1490548632,99271,99271,0,0.91,0,0,1,1528,year ago uncle wedding videographer got 2nd pl...,0.000,0.0,1.000,0.0000,0
4,Rudolph. [OC],doryphorus99,2021,1638910370,99259,99259,0,0.94,0,0,20,519,rudolph oc,0.000,0.0,1.000,0.0000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
983,Dad ends sons basketball career in 17 seconds,Tarhabibi,2018,1534215795,150830,150830,0,0.94,0,0,73,1988,dad end son basketball career 17 second,0.000,0.0,1.000,0.0000,0
984,I hate planks,ManagerOfLove,2022,1652800775,150582,150582,0,0.88,0,1,71,2581,hate plank,0.787,0.0,0.213,-0.5719,-1
985,Caught my GF taking selfies with my dog. The s...,NBAJam95,2020,1592849049,150236,150236,0,0.92,0,1,26,1905,caught gf taking selfies dog shade throw end hurt,0.298,0.0,0.702,-0.5267,-1
986,Oh Canada,ThunderGunExpress-,2020,1585490180,149575,149575,0,0.95,0,0,45,3317,oh canada,0.000,0.0,1.000,0.0000,0
987,Just lost my foot after a motorcycle accident....,roersmat,2021,1627480828,149461,149461,0,0.89,0,7,13,4604,lost foot motorcycle accident sticker son chos...,0.435,0.0,0.565,-0.6597,-1

In [46]:
df

,title,author,date,timestamp,score,upvotes,downvotes,up_ratio,total_awards_received,golds,cross_posts,No.of.comments,cleaned_headlines,Negative_Sentiment,Positive_Sentiment,Neutral_Sentiment,compound,Label
0,How much for a rose?,GregorCZ,2021,1613296892,99292,99292,0,0.90,0,0,27,1136,much rose,0.000,0.0,1.000,0.0000,0
1,Dad... is that you??,sil130,2017,1511037367,99286,99286,0,0.87,0,1,3,2047,dad,0.000,0.0,1.000,0.0000,0
2,Whelp.,dogsonthe4th,2019,1548265388,99274,99274,0,0.87,0,2,30,2539,whelp,0.000,0.0,1.000,0.0000,0
3,"Years ago, my uncle was a wedding videographer...",DoctorVanillaBear,2017,1490548632,99271,99271,0,0.91,0,0,1,1528,year ago uncle wedding videographer got 2nd pl...,0.000,0.0,1.000,0.0000,0
4,Rudolph. [OC],doryphorus99,2021,1638910370,99259,99259,0,0.94,0,0,20,519,rudolph oc,0.000,0.0,1.000,0.0000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
983,Dad ends sons basketball career in 17 seconds,Tarhabibi,2018,1534215795,150830,150830,0,0.94,0,0,73,1988,dad end son basketball career 17 second,0.000,0.0,1.000,0.0000,0
984,I hate planks,ManagerOfLove,2022,1652800775,150582,150582,0,0.88,0,1,71,2581,hate plank,0.787,0.0,0.213,-0.5719,-1
985,Caught my GF taking selfies with my dog. The s...,NBAJam95,2020,1592849049,150236,150236,0,0.92,0,1,26,1905,caught gf taking selfies dog shade throw end hurt,0.298,0.0,0.702,-0.5267,-1
986,Oh Canada,ThunderGunExpress-,2020,1585490180,149575,149575,0,0.95,0,0,45,3317,oh canada,0.000,0.0,1.000,0.0000,0
987,Just lost my foot after a motorcycle accident....,roersmat,2021,1627480828,149461,149461,0,0.89,0,7,13,4604,lost foot motorcycle accident sticker son chos...,0.435,0.0,0.565,-0.6597,-1

In [43]:
from datetime import datetime

def extract_year(date_str):
    try:
        # Convert the string to a datetime object
        date_object = datetime.strptime(date_str, '%Y-%m-%d')
        # Extract the year
        year = date_object.year
        return year
    except ValueError:
        # Handle the case where the date string is not in the expected format
        print(f"Error: Invalid date format for {date_str}")
        return None
datei=df['date']
datei=datei.apply(extract_year)    
datei

0      2021
1      2017
2      2019
3      2017
4      2021
       ...
983    2018
984    2022
985    2020
986    2020
987    2021
Name: date, Length: 988, dtype: int64

In [44]:
df['date']=datei

In [47]:

df.to_csv(r"C:\Users\shiya\OneDrive\Desktop\convoproject\DatasetofRfunny.csv", index=False)

In [48]:
df.columns

Index(['title', 'author', 'date', 'timestamp', 'score', 'upvotes', 'downvotes',
       'up_ratio', 'total_awards_received', 'golds', 'cross_posts',
       'No.of.comments', 'cleaned_headlines', 'Negative_Sentiment',
       'Positive_Sentiment', 'Neutral_Sentiment', 'compound', 'Label'],
      dtype='object')