In [ ]:
!pip install praw

In [ ]:
!pip install pprint

In [ ]:
!pip install seaborn

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
from pprint import pprint

In [17]:
import praw

In [18]:
user_agent="scraper 1.0 by/u/HumanEmbodimentOfCat"
reddit=praw.Reddit(
client_id="hrArokiUZOpjfT0flOvzrQ",
client_secret="T_5q3mEZTpYXQSzZpt9_ni7rhFC4fQ",
user_agent=user_agent)

In [38]:
d = {"genre":[],"headlines":[],"year":[],"count_comments":[],"score":[],"upvote_ratio":[],"subreddit":[]}

In [65]:
#tp hot new rsing top
for submission in reddit.subreddit('sports').top(limit=100):
    d['subreddit'].append('r/sports')
    d['genre'].append('sports')
    d['headlines'].append(submission.title)
    d['year'].append(submission.created_utc)
    d['count_comments'].append(submission.num_comments)
    d['score'].append(submission.score)
    d['upvote_ratio'].append(submission.upvote_ratio)
    
print(len(d['genre']))

2000

In [66]:
df=pd.DataFrame(d)
df.head()

,genre,headlines,year,count_comments,score,upvote_ratio,subreddit
0,comedy,My cab driver tonight was so excited to share ...,1.514430e+09,2454,308577,0.97,r/funny
1,comedy,Guardians of the Front Page,1.480960e+09,4943,283998,0.97,r/funny
2,comedy,Gas station worker takes precautionary measure...,1.507061e+09,8683,263331,0.97,r/funny
3,comedy,The conversation my son and I will have on Chr...,1.513711e+09,4751,237032,0.94,r/funny
4,comedy,The Denver Broncos have the entire town of ‘So...,1.601232e+09,2799,226361,0.95,r/funny

In [67]:
df['year'] = pd.to_datetime(df['year'], unit='s').dt.year
df.head()

,genre,headlines,year,count_comments,score,upvote_ratio,subreddit
0,comedy,My cab driver tonight was so excited to share ...,2017,2454,308577,0.97,r/funny
1,comedy,Guardians of the Front Page,2016,4943,283998,0.97,r/funny
2,comedy,Gas station worker takes precautionary measure...,2017,8683,263331,0.97,r/funny
3,comedy,The conversation my son and I will have on Chr...,2017,4751,237032,0.94,r/funny
4,comedy,The Denver Broncos have the entire town of ‘So...,2020,2799,226361,0.95,r/funny

In [68]:

df['headlines'].replace('', np.nan, inplace=True)
df = df.dropna(subset=['headlines'])
df = df.reset_index(drop=True)

In [69]:

excel_file_name = r"C:\Users\shiya\OneDrive\Desktop\convoproject\finaldataset.xlsx"
df.to_excel(excel_file_name, index=False)

In [72]:
excel_file_name = r"C:\Users\shiya\OneDrive\Desktop\convoproject\finaldataset.xlsx"
existing_df = pd.read_excel(excel_file_name)
print(len(existing_df['headlines']))

2000